<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752575815746-lfjc5dqm6vfr8dqcctt2hlo93jklks5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752575815746-lfjc5dqm6vfr8dqcctt2hlo93jklks5u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>752575815746-lt1ue0me03uuhef1lonn2r4mg43527ck.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD4eahY9eUiIOkh69uMXHWhtLPD5xxT-MM</string>
	<key>GCM_SENDER_ID</key>
	<string>752575815746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testApp</string>
	<key>PROJECT_ID</key>
	<string>test-276ae</string>
	<key>STORAGE_BUCKET</key>
	<string>test-276ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752575815746:ios:49ce1afe08602aad484ddb</string>
</dict>
</plist>